.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 70px 70px 72px;
}

.auth__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 396px;
  width: 100%;
}

.auth__title {
  color: #FFF;
  text-align: start;

  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.auth__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  max-width: 410px;
  width: 100%;
}

.auth__text-error {
  color: #EE3465;

  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 12px;
  width: 100%;
  padding: 5px 0;
}

.auth__submit-error {
  color: transparent;
  text-align: center;

  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}

.auth__submit-error_visible {
  color: #EE3465;
}

.auth__input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.auth__input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
}

.auth__submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 396px;
  min-width: 260px;
  width: 100%;
  gap: 14px;
  margin: 0;
}

.auth__input {
  color: #FFF;
  text-align: start;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
  width: 100%;
  height: 17px;
  margin: 0;
}

.auth__input_error {
  color: #EE3465;
}

.auth__input:focus {
  outline: none;
  border-bottom: 1px solid #4285F4;
}

.auth__input::placeholder {
  font-family: inherit;
  color: #FFF;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
}

.auth__input::-webkit-input-placeholder {
  font-family: inherit;
  color: #FFF;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
}

.auth__input:-moz-placeholder {
  font-family: inherit;
  color: #FFF;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
}

.auth__input::-moz-placeholder {
  font-family: inherit;
  color: #FFF;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
}

.auth__input:-ms-input-placeholder {
  font-family: inherit;
  color: #FFF;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
}

.auth__input::-ms-input-placeholder {
  font-family: inherit;
  color: #FFF;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
}

.auth__input-label {
  color: #8B8B8B;

  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.auth__submit-button {
  align-items: center;
  color: #fff;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  max-width: 410px;
  height: 21px;
  width: 100%;
  background-color: #4285F4;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  height: 45px;
  border: none;
}

.auth__submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.auth__submit-button_edit {
  background-color: transparent;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
  height: min-content;
}

.auth__submit-button_disabled {
  color: #8B8B8B;
  background-color: #2F2F2F;
}

.auth__submit-button_exit {
  background-color: transparent;
  color: #EE3465;
  font-size: 13px;
  line-height: normal;
  height: min-content;
}

.auth__advice {
  color: #8B8B8B;
  text-align: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.auth__advice-link {
  color: #4285F4;
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 440px) {

  .auth__text-error {
    height: 21px;
  }

}

@media screen and (min-width: 320px) and (max-width: 480px) {

  .auth {
    padding: 56px 30px 30px;
  }

  .auth__container {
    gap: 49px;
    align-items: center;
  }

  .auth__form {
    margin-top: 30px;
  }

  .auth__submit-button {
    font-size: 12px;
    line-height: normal;
  }

  .auth__submit-button_edit {
    font-size: 12px;
  }

  .auth__advice {
    font-size: 12px;
  }

}


@media screen and (min-width: 481px) and (max-width: 770px) {

  .auth {
    padding: 232px 30px 233px;
  }

}